/* dark.css: 👉 light-on-dark */
:root {
    --body-bg: #35383f;
    --text-color: #dbdcde;
    --text-time: rgba(255, 255, 255, 0.45);
    --main-color: #35383f;
    --gallery-background: rgba(22, 23, 44, 0.90);
    --header-color: #2e3036;
    --chat-active: #393b43;
    --chat-hover: #33363c;
    --msg-content-background: #2e3036;
    --our-msg: #7189da;
    --notify: #7074da;
    --warning-background: #d87470;
    --heart-color: #f2231d;
    --login-background: #2d2e36;
    --seen-indicator: rgba(255, 255, 255, 0.45);
    --input-bg: #1f2125;
    --input-text: #dbdcde;
    --input-placeholder: #ccc;
    --small-text-color: #bbb;
    --msg-form-button-color: #b8b9be;
    --button-bg: #7074da;
    --button-color: #fefffe;
    --button-border: 0;
    --button-border-size: 0;
    --button-hover-bg: #6669c4;
    --menu-bg: #1f2125;
    --sidebar-bg: #2e3036;
    --sidebar-border-right: 1px solid #292b31;
    --sidebar-color: #8d9197;
    --zebra-stripe-bg: #2e3036;
    --emoji-picker-bg: #262642;
    --emoji-picker-color: #fff;
    --emoji-picker-border-color: #3D3E66;
    --link-color: #00bbf4;
    --day-separator-bg: rgba(0,0,0,0.85);
    --day-separator-color: rgba(255, 255, 255, 0.88);
    --logotype-filter: contrast(0) brightness(2);
    --non-string-value-color: red;
}
