/* dark.css: 👉 light-on-dark */
:root {
    --text-color: #ffffff;
    --text-small: #777;
    --text-time: rgba(255, 255, 255, 0.45);
    --main-color: #3b3936;
    --header-color: #292929;
    --chat-active: #252525;
    --chat-hover: #363636;
    --msg-content-background: #000000;
    --our-msg: #3f4939;
    --notify: #476974;
}