/* dark.css: 👉 light-on-dark */
:root {
    --body-bg: #101126;
    --text-color: #ffffff;
    --text-time: rgba(255, 255, 255, 0.45);
    --main-color: rgb(22, 23, 44);
    --gallery-background: rgba(22, 23, 44, 0.90);
    --header-color: #101126;
    --chat-active: rgb(22, 23, 44);
    --chat-hover: #171833;
    --msg-content-background: #22244C;
    --our-msg: #235136;
    --notify: #1DC0F2;
    --warning-background: #f2231d;
    --login-background: rgb(22, 23, 44);
    --seen-indicator: rgba(255, 255, 255, 0.45);
    --input-bg: #262642;
    --input-text: #ffffff;
    --input-placeholder: #ccc;
    --small-text-color: #bbb;
    --msg-form-button-color: #1DC0F2;
    --button-bg: rgba(0,0,0,0);
    --button-color: #1DC0F2;
    --button-border: 2px solid #1DC0F2;
    --button-border-size: 2px;
    --button-hover-bg: rgba(107,115,255,0.1);
    --sidebar-bg: #22244C;
    --sidebar-border-right: 1px solid #3D3E66;
    --zebra-stripe-bg: #22244C;
    --emoji-picker-bg: #262642;
    --emoji-picker-color: #fff;
    --emoji-picker-border-color: #3D3E66;
    --link-color: #1DC0F2;
    --day-separator-bg: rgba(0,0,0,0.85);
    --day-separator-color: rgba(255, 255, 255, 0.88);
}
