/* light.css: 👉 dark-on-light */
:root {
    --text-color: #262626;
    --text-small: #777;
    --text-time: rgba(0, 0, 0, 0.45);
    --main-color: #e5ddd5;
    --header-color: #efefef;
    --chat-active: #eaeaea;
    --chat-hover: #f3f3f3;
    --msg-content-background: #ffffff;
    --our-msg: #d7f7c5;
    --notify: #9ee8ff;
}