/* light.css: 👉 dark-on-light */
:root {
    --body-bg: #fff;
    --text-color: #262626;
    --text-time: rgba(0, 0, 0, 0.45);
    --main-color: #e5ddd5;
    --header-color: #efefef;
    --chat-active: #eaeaea;
    --chat-hover: #f3f3f3;
    --msg-content-background: #ffffff;
    --our-msg: #d7f7c5;
    --notify: #9ee8ff;
    --login-background: #70d4f2;
    --seen-indicator: rgba(0, 0, 0, 0.45);
    --input-bg: #fff;
    --input-text: #262626;
    --input-placeholder: #a9a9a9;
    --small-text-color: #777;
    --msg-form-button-color: #999;
    --button-bg: #ddd;
    --button-color: initial;
    --button-border: 0;
    --button-hover-bg: #ccc;
    --sidebar-border-right: 1px solid #dfdfdf;
    --zebra-stripe-bg: rgba(255,255,255,0.5);
    --link-color: initial;
    --day-separator-bg: rgba(227, 249, 255, 0.91);
    --day-separator-color: rgba(74, 74, 74, 0.88);
}
