* { box-sizing: border-box; }

html { height:100%; overflow:hidden; }

body {
  font-size: 15px;
  color: #262626;
  font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, system-ui, "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
  height:100%;
  overflow:hidden;
}

input, button, .button {
  padding: 15px;
  outline: none;
  border: 0;
  font-size: 15px;
  border-radius: 50px;
}

input {
  margin-right: 7px;
}

button, .button {
  background: #ddd;
  cursor: pointer;
}

button:hover, button:active, button:focus, .button:hover, .button:active, .button:focus {
  background: #ccc;
}

img {
  max-width: 90vw;
  max-height: 80vh;
}

.hidden {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
  #profile {
    padding: 0;
  }
  #profile .content {
    padding: 10px 15px;
  }
  .profile-photo {
    border-radius: 0 !important;
    max-width: none !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
  }
  #current-profile-photo {
    max-width: none !important;
    max-height: none !important;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .visible-xs-block, .visible-xs-inline-block {
    display: none !important;
  }
}

.chat {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 0 10em;
  border-right: 1px solid #dfdfdf;
}

.sidebar * {
  user-select: none;
}

.main {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 3 0 10em;
}

/*----- Main------- */

header {
  display: flex;
  flex:1;
  background-color: #efefef;
  max-height:60px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

header .name {
  margin-right: 15px;
  display: none;
}

header #header-content {
  flex: 1;
  padding: 10px 15px;
  align-self: center;
  display: flex;
  flex-direction: row;
}

header #back-button {
  align-self: center;
  padding: 10px 15px;
  cursor: pointer;
}

.main-view {
  display: none;
  flex:1;
  overflow-y: scroll;
  padding: 10px 15px;
  background-color: #e5ddd5;
  min-width: 0;
}

.msg {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  overflow-wrap: break-word;
}

.msg-content {
  background-color: #ffffff;
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  flex: none;
  max-width: 75%;
}

.emoji {
  font-size: 1.3em;
  line-height: 1em;
}

.msg .emoji-only {
  font-size: 3em;
  text-align: center;
}

.chat-list .seen {
  margin-right: 5px;
}

.seen {
  color: rgba(0, 0, 0, 0.45);
  user-select: none;
}

.seen.yes {
  color: #4fc3f7;
}

.seen svg {
  width: 15px;
}

.msg.their {
  align-items: flex-start;
}

.msg.their + .msg.our .msg-content, .day-separator + .msg.our .msg-content {
  margin-top: 15px;
  border-radius: 8px 0px 8px 8px;
}

.msg.their:first-of-type .msg-content {
  border-radius: 0px 8px 8px 8px;
}

.msg.our:first-of-type .msg-content {
  border-radius: 8px 0px 8px 8px;
}

.msg.our + .msg.their .msg-content, .day-separator + .msg.their .msg-content {
  margin-top: 15px;
  border-radius: 0px 8px 8px 8px;
}

.msg.our {
  align-items: flex-end;
}

.msg.our .msg-content {
  background-color: #d7f7c5;
}

.msg .time {
  text-align: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.day-separator {
  display: inline-block;
  border-radius: 8px;
  background-color: rgba(227, 249, 255, 0.91);
  padding: 6px 10px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(74, 74, 74, 0.88);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.day-separator:first-of-type {
  margin-top: 0;
}

.flex-table {
  display: flex;
  flex-direction: column;
}

.flex-table .flex-row {
  font-size: 12px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-table .flex-row:nth-child(odd) {
  background-color: rgba(255,255,255,0.5);
}

.flex-table .flex-cell {
  padding: 10px;
  overflow-wrap: break-word;
  flex: 1 1 auto;
  min-width: 0;
}

.flex-table .flex-cell.no-flex {
  flex: none;
}

#emoji-picker {
  outline: 1px;
  margin-right: 5px;
  display: none;
}

.emoji-picker__tab {
  font-size: 35px !important;
}

#message-list {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.message-form {
  flex:1;
  flex-direction: row;
  max-height:70px;
  background-color: #efefef;
  padding: 10px 15px;
}

.message-form form {
  display: flex;
}

.message-form input {
  flex: 1;
  width: auto;
}

.message-form button, .message-form button:hover, .message-form button:active, .message-form button:focus {
  flex: none;
  color: #999;
  background-color: transparent;
  font-size: 30px;
  padding: 5px;
}

/*----- Sidebar------- */

.user-info {
  width: 100%;
  flex:1;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: left;
  max-height:60px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px 15px;
  background-color: #efefef;
  cursor: pointer;
}

#my-identicon {
  flex: none;
  align-self: center;
  margin-right: 15px;
}

.user-name {
  align-self: center;
  flex: 1;
}

.iris-identicon img {
  border: none !important;
}

.identicon-image {
  border-radius: 50%;
}

.chat-list {
  flex:1;
  overflow-y: scroll;
}

#welcome {
  text-align: center;
  display: block;
}

.chat-item {
  padding: 0px 10px 0px 15px;
  overflow-x: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: stretch;
  margin-top: -1px;
}

.chat-item .identicon-container, header .identicon-container {
  flex: none;
  align-self: center;
  margin-right: 15px !important;
}

.chat-item .text {
  padding-right: 5px;
  padding-top: 16px;
  border-bottom: 1px solid #f3f3f3;
  line-height: 20px;
}

.chat-item .text, header .text {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chat-item .latest-time {
  float: right;
}

.unseen {
  display: inline-block;
  border-radius: 1.1em;
  padding: .3em .4em;
  min-width: .8em;
  background-color: #4dd606;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 1em;
  font-weight: 500;
  display: none;
}

.chat-item .unseen {
  float: right;
}

small {
  font-size: 12px;
  color: #777;
}

.chat-item.active, .chat-item.active:hover {
  background: #eaeaea;
}

.chat-item:hover {
  background: #f3f3f3;
}

.chat-item.new {
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}

#new-chat input {
  width: 200px;
}

#not-seen-by-them {
  padding: 10px 15px;
  background-color: #9ee8ff;
}

#not-seen-by-them button {
  background: #fff;
}

#not-seen-by-them button:hover, #not-seen-by-them button:active, #not-seen-by-them button:focus {
  background: #eee;
}

#enable-notifications-prompt {
  background: #9ee8ff;
  padding: 22px 15px;
  cursor: pointer;
  overflow-y: hidden;
  display: none;
}

#enable-notifications-prompt .title {
  font-weight: bold;
  margin-bottom: 5px;
}

#enable-notifications-prompt a {
  text-decoration: none;
}

#enable-notifications-prompt:hover a, #enable-notifications-prompt:focus a {
  text-decoration: underline;
}

#current-profile-photo {
  cursor: pointer;
}

#current-profile-photo:hover {
  opacity: 0.8;
}

#current-profile-photo {
  max-width: 400px;
  max-height: 400px;
}

#profile-photo-preview-container {
  max-width: 100%;
}

#private-key-qr {
  margin-top: 15px;
}

/* Places where emojis may appear */
.user-name, .name, input[type=text] {
  line-height: 1.3em;
}

.profile-photo {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}
