:root {
  color-scheme: light dark;
}

* { box-sizing: border-box; }

html { height:100%; overflow:hidden; }

body {
  opacity: 0;
  font-size: 15px;
  color: var(--text-color);
  font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, system-ui, "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
  height:100%;
  overflow:hidden;
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}

a:hover, a:focus {
  text-decoration: underline;
  outline: none;
}

textarea {
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  margin: 15px 0;
  background-color: var(--msg-content-background);
  color: var(--text-color);
  resize: none;
}

input, button, .button {
  padding: 15px;
  outline: none;
  border: 0;
  font-size: 15px;
  border-radius: 50px;
}

input {
  margin-right: 7px;
  background: var(--input-bg);
  color: var(--input-text);
}

::placeholder {
  color: var(--input-placeholder);
}

button, .button {
  background: var(--button-bg);
  color: var(--button-color);
  border: var(--button-border);
  cursor: pointer;
}

button:hover, button:active, button:focus, .button:hover, .button:active, .button:focus {
  background: var(--button-hover-bg);
}

img {
  max-width: 100%;
  max-height: 80vh;
}

.hidden {
  display: none;
}

#main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 0 10em;
  background: var(--sidebar-bg);
  border-right: var(--sidebar-border-right);
}

.sidebar * {
  user-select: none;
}

.main {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 3 0 10em;
}

/*----- Main------- */

header {
  display: flex;
  flex:1;
  background-color: var(--header-color);
  max-height:60px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

header .name {
  margin-right: 15px;
}

header #header-content {
  flex: 1;
  padding: 10px 15px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.flex-table {
  display: flex;
  flex-direction: column;
}

.flex-table .flex-row {
  font-size: 12px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-table .flex-row:nth-child(odd) {
  background-color: var(--zebra-stripe-bg);
}

.flex-table .flex-cell {
  padding: 10px;
  overflow-wrap: break-word;
  flex: 1 1 auto;
  min-width: 0;
  word-break: break-all;
}

.flex-table .flex-cell.no-flex {
  flex: none;
}

@media (max-width: 575px) {
  header #header-content {
    max-width: calc(100% - 35px);
  }

  .flex-table .flex-row {
    flex-direction: column;
  }
}

header #back-button {
  align-self: center;
  padding: 10px 15px;
  cursor: pointer;
}

.main-view {
  flex:1;
  overflow-y: scroll;
  padding: 10px 15px;
  background-color: var(--main-color);
  min-width: 0;
}

.msg {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.msg a {
  color: #00b6ed;
}

.msg-content {
  background-color: var(--msg-content-background);
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  flex: none;
  max-width: 75%;
}

.msg-content img {
  border-radius: 6px;
  max-height: 250px;
  max-width: 100%;
  cursor: pointer;

}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile .content {
  width: max(80%, 800px);
  max-width: 100%;
}

.public-messages-view .msg-content img {
  max-height: 80vh;
  border-radius: 0;
}

.public-messages-view .msg {
  align-items: flex-start;
  margin-bottom: 15px;
}

.public-messages-view .msg .msg-content .seen-indicator {
  display: none;
}

.public-messages-view .img-container {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  flex-direction: column;
}

.public-messages-view .msg .text, .public-messages-view .msg .time {
  margin: 6px 10px 0 10px;
}

.public-messages-view .msg .msg-content {
  max-width: none;
  border-radius: 8px !important;
  width: 100%;
  padding: 6px 0;
}

.emoji {
  font-size: 1.3em;
  line-height: 1em;
}

.msg .emoji-only {
  font-size: 3em;
  text-align: center;
}

.chat-list .seen-indicator {
  margin-right: 5px;
}

.seen { /* omg, this fixes mess-up by iris-lib style */
  color: inherit;
}

.seen-indicator {
  color: var(--seen-indicator);
  user-select: none;
}

.seen-indicator svg {
  width: 15px;
}

.chat-list .seen-indicator svg {
  width: 20px;
}

.seen .seen-indicator {
  color: #4fc3f7;
}

.iris-delivered-checkmark {
  display: none;
}

.seen .iris-delivered-checkmark, .delivered .iris-delivered-checkmark {
  display: initial;
}

.msg.their {
  align-items: flex-start;
}

.msg.their + .msg.our .msg-content, .day-separator + .msg.our .msg-content, .from-separator + .msg.our .msg-content {
  margin-top: 15px;
  border-radius: 8px 0px 8px 8px;
}

.msg.their:first-of-type .msg-content {
  border-radius: 0px 8px 8px 8px;
}

.msg.our:first-of-type .msg-content {
  border-radius: 8px 0px 8px 8px;
}

.msgSenderName {
  cursor: pointer;
  margin-bottom: 2px;
  display: block;
  font-weight: bold;
}

.from-separator {
  display: none;
}

.msg.our + .msg.their .msg-content, .day-separator + .msg.their .msg-content, .from-separator + .msg.their .msg-content {
  margin-top: 15px;
  border-radius: 0px 8px 8px 8px;
}

.msg.our {
  align-items: flex-end;
}

.msg.our .msg-content {
  background-color: var(--our-msg);
}

.msg .time {
  text-align: right;
  font-size: 12px;
  color: var(--text-time);
}

.day-separator {
  display: inline-block;
  border-radius: 8px;
  background-color: var(--day-separator-bg);
  padding: 6px 10px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--day-separator-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.day-separator:first-of-type {
  margin-top: 0;
}

#login {
  padding: 15px;
  display: flex;
  overflow-y: scroll;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--login-background);
  z-index: 1000;
}

#login a {
  color: white;
}

#login a:hover {
  color: white;
}

#login-content {
  margin: auto;
  text-align: center;
}

#emoji-picker {
  outline: 1px;
  margin-right: 5px;
}

.emoji-picker {
  background: var(--emoji-picker-bg) !important;
  border-color: var(--emoji-picker-border-color) !important;
}

.emoji-picker * {
  color: var(--emoji-picker-color) !important;
  border-color: var(--emoji-picker-border-color) !important;
}

.emoji-picker__tab {
  font-size: 35px !important;
}

#attachment-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#attachment-preview.gallery {
  overflow-y: scroll;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;
  background-color: var(--gallery-background);
}

#attachment-preview img {
  max-height: 90vh;
  max-width: 100%;
  display: block;
  margin-bottom: 15px;
  user-select: none;
}

#attachment-preview button {
  display: block;
  margin-bottom: 10px;
}

#message-list {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

@media (min-width: 1268px) {
  #message-list {
    max-width: 80%;
  }
}

.message-form {
  flex:1;
  flex-direction: row;
  max-height:70px;
  background-color: var(--header-color);
  padding: 10px 15px;
}

.message-form form {
  display: flex;
}

.message-form input {
  flex: 1;
  width: auto;
}

.message-form button, .message-form button:hover, .message-form button:active, .message-form button:focus {
  flex: none;
  color: var(--msg-form-button-color);
  background-color: transparent;
  font-size: 30px;
  padding: 5px;
  border: 0;
}

/*----- Sidebar------- */

.user-info {
  width: 100%;
  flex:1;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: flex-start;
  max-height:60px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px 0 10px 15px;
  background-color: var(--header-color);
  cursor: pointer;
}

.user-settings {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
}

#my-identicon {
  flex: none;
  align-self: center;
  margin-right: 15px;
}

.user-name {
  align-self: center;
  flex: 1;
}

.iris-identicon img {
  border: none !important;
}

.identicon-image {
  border-radius: 50%;
}

.chat-list {
  flex:1;
  overflow-y: scroll;
}

#welcome {
  text-align: center;
  display: block;
}

.chat-item {
  padding: 0px 10px 0px 15px;
  overflow-x: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: stretch;
  margin-top: -1px;
  position: relative;
}

.chat-item .identicon-container, header .identicon-container {
  flex: none;
  align-self: center;
  margin-right: 15px !important;
}

.chat-item.has-unseen .text, .chat-item.has-unseen .name {
  font-weight: bold;
}

.chat-item .text {
  padding-right: 5px;
  padding-top: 16px;
  border-bottom: 1px solid var(--chat-hover);
  line-height: 20px;
}

.chat-item .text, header .text {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chat-item .latest-time {
  float: right;
}

.unseen {
  display: inline-block;
  border-radius: 1.1em;
  padding: .3em .4em;
  min-width: .8em;
  background-color: #4dd606;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 1em;
  font-weight: 500;
}

.chat-item .unseen {
  float: right;
}

small {
  font-size: 12px;
  color: var(--small-text-color);
}

.chat-item.active-item, .chat-item.active-item:hover {
  background: var(--chat-active);
}

.chat-item:hover {
  background: var(--chat-hover);
}

.chat-item.new, .chat-item.public-messages {
  align-items: center;
}

.chat-item.new {
  border-bottom: 1px solid var(--chat-hover);
}

.chat-item.public-messages {
}

.chat-item.new svg {
  color: var(--small-text-color);
}

#new-chat input {
  width: 200px;
}

#scroll-down-btn {
  cursor: pointer;
  color: var(--small-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  width: 42px;
  height: 42px;
  bottom: 85px;
  opacity: 0.9;
  border-radius: 50%;
  background-color: var(--sidebar-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#scroll-down-btn svg {
  width: 33%;
  height: 33%;
  margin-top: 3px;
}

#not-seen-by-them {
  padding: 10px 15px;
  background-color: var(--notify);
}

#not-seen-by-them button {
  background: white;
  color: #262626;
}

#not-seen-by-them button:hover, #not-seen-by-them button:active, #not-seen-by-them button:focus {
  background: #ccc;
}

#enable-notifications-prompt {
  background: var(--notify);
  padding: 22px 15px;
  cursor: pointer;
  overflow-y: hidden;
  display: none;
}

#enable-notifications-prompt .title {
  font-weight: bold;
  margin-bottom: 5px;
}

#enable-notifications-prompt a {
  color: var(--text);
  text-decoration: none;
  color: var(--text-color);
}

#enable-notifications-prompt:hover a, #enable-notifications-prompt:focus a {
  text-decoration: underline;
}

.picker.profile-photo {
  cursor: pointer;
}

.picker.profile-photo:hover {
  opacity: 0.8;
}

.picker.profile-photo {
  max-height: 400px;
}

#profile-photo-preview-container {
  max-width: 100%;
}

#private-key-qr {
  margin-top: 15px;
}

#chatlink-qr-video {
  display: none;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.profile-actions button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.profile-header-stuff {
  padding-left: 15px;
  flex: 2;
}

.qr-container img, .qr-container canvas {
  border: 5px solid white;
}

/* Places where emojis may appear */
.user-name, .name, input[type=text] {
  line-height: 1.3em;
}

.profile-photo-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.profile-photo {
  border-radius: 50%;
  max-width: min(100%, 300px);
  max-height: min(30vw, 300px);
}

.chat-item .online-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50px;
  border: 3px solid var(--sidebar-bg);
  background-color: #999999;
}

.chat-item.online .online-indicator, .chat-item.active .online-indicator {
  background-color: #f6a539;
}

.chat-item.active .online-indicator {
  background-color: #80bf5f;
}

.chat-item .typing-indicator {
  color: #05b246;
  font-weight: bold;
}

.peer button {
  margin-left: 5px;
}

.add-friend {
  background-color: hsla(194, 55%, 87%, 1);;
}

.add-friend:hover, .add-friend:active, .add-friend:focus {
  background-color: hsla(194, 55%, 80%, 1);;
}

.round-borders {
  border-radius: 50%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--day-separator-bg);
  color: var(--day-separator-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  right: 0;
  top: 100%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
/*
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(25,25,25) transparent transparent transparent;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
@media (hover: hover) {
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 575px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
  .visible-xs-flex {
    display: flex;
  }
  #profile {
    padding: 0;
  }
  #profile .content, .public-messages-view#message-view {
    padding: 0;
  }
  .public-messages-view .msg .msg-content, textarea {
    border-radius: 0 !important;
  }
  #current-profile-photo {
    max-width: none !important;
    max-height: none !important;
    width: 100%;
  }
  .profile-top {
    padding: 10px 15px;
  }
}

@media (min-width: 576px) {
  .visible-xs-block, .visible-xs-inline-block, .visible-xs-flex {
    display: none !important;
  }
}
