@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

/* This will change the scrollbar track (background) */
::-webkit-scrollbar {
  width: 10px;
}

/* This will change the scrollbar thumb (foreground or the actual scroll) */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* This will change the scrollbar thumb when it's in hover state */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.linkbutton {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  .linkSelected {
    text-decoration: underline;
  }


  /* .linkUnselected {
    text-neutral-500
  }
   */


  .public-messages-view .msg .graphflag {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
    overflow-wrap: anywhere;
  }
  

  .goodName {
    text-decoration-line: underline;
    text-decoration-color: green;
  }

  .neutralName {
    text-decoration-line: underline;
    text-decoration-color: yellow;
  }

  .badName {
    text-decoration-line: underline;
    text-decoration-color: red;
  }

  .msg .trust .identicon-container {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
  }
  
  .msg .trust {
    margin: 5px 0;
  }
  
  /* transition for btn colors */
  
  .msg .trust-btn.trusted, .msg .like-btn:hover {
    color: var(--white);
  }

  .msg .trust-btn.distrusted, .msg .like-btn:hover {
    color: var(--white);
  }


  .goodMessage {
    border: 1px dotted green;
  }

  .neutralMessage {
    border: 1px dotted yellow;
  }

  .badMessage {
    border: 1px dotted darkred;
  }

  #loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  .arrow {
    /* border: solid white; */
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .arrow.green {
    border: solid green;
  }
  .arrow.red {
    border: solid red;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .graphlink {
    @apply font-normal hover:underline;
    text-decoration: none;
  }

  .graphlink.active {
    @apply text-iris-blue font-bold;
    text-decoration: none;    
  }
  
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  .skeleton {
    width: 100%;
    height: 600px;
    /* background: linear-gradient(90deg, #f0f0f0, #f8f8f8, #f0f0f0); */
    background: linear-gradient(90deg, #333, #444, #333);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
  }
  
  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }