* { box-sizing: border-box; }

body {
  font-size: 15px;
  color: #262626;
  font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, system-ui, "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
}

input, button {
  padding: 15px;
  outline: none;
  border: 0;
  font-size: 15px;
  border-radius: 50px;
}

input {
  margin-right: 7px;
}

button {
  background: #ddd;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  background: #ccc;
}

@media (max-width: 575px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: initial !important;
  }
}

@media (min-width: 576px) {
  .visible-xs {
    display: none !important;
  }
}

.iris-identicon {
  margin-right: 15px !important;
}

.chat {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: white;
}

.sidebar {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 0 10em;
  border-right: 1px solid #dfdfdf;
}

.sidebar * {
  user-select: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 4 0 10em;
}

/*----- Main------- */

header {
  display: flex;
  flex:1;
  background-color: #efefef;
  max-height:60px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

header .name {
  margin-right: 15px;
  display: none;
}

header #header-content {
  flex: 1;
  padding: 10px 15px;
  align-self: center;
}

header #back-button {
  align-self: center;
  padding: 10px 15px;
  cursor: pointer;
}

.main-view {
  display: none;
  flex:1;
  overflow-y: scroll;
  padding: 10px 15px;
  background-color: #e5ddd5;
}

.msg {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.msg-content {
  background-color: #ffffff;
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  flex: none;
  max-width: 75%;
}

.msg .emoji-only {
  font-size: 3em;
  text-align: center;
}

.msg .seen {
  color: #4fc3f7;
  display: none;
  user-select: none;
}

.msg.their {
  align-items: flex-start;
}

.msg.their + .msg.our .msg-content {
  margin-top: 15px;
  border-radius: 8px 0px 8px 8px;
}

.msg.their:first-of-type .msg-content {
  border-radius: 0px 8px 8px 8px;
}

.msg.our:first-of-type .msg-content {
  border-radius: 8px 0px 8px 8px;
}

.msg.our + .msg.their .msg-content {
  margin-top: 15px;
  border-radius: 0px 8px 8px 8px;
}

.msg.our {
  align-items: flex-end;
}

.msg.our .msg-content {
  background-color: #d7f7c5;
}

.msg .time {
  text-align: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

#emoji-picker {
  outline: 1px;
  margin-right: 5px;
  display: none;
}

#message-list {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.message-form {
  flex:1;
  flex-direction: row;
  max-height:70px;
  background-color: #efefef;
  padding: 10px 15px;
}

.message-form form {
  display: flex;
}

.message-form input {
  flex: 1;
  width: auto;
}

.message-form button, .message-form button:hover, .message-form button:active, .message-form button:focus {
  flex: none;
  color: #999;
  background-color: transparent;
  font-size: 30px;
  padding: 5px;
}

/*----- Sidebar------- */

.user-info {
  width: 100%;
  flex:1;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: left;
  max-height:60px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px 15px;
  background-color: #efefef;
  cursor: pointer;
}

#my-identicon {
  flex: none;
  align-self: center;
}

.user-name {
  align-self: center;
  flex: 1;
}

.chat-list{
  flex:1;
  overflow-y: scroll;
}

.chat-item {
  padding: 10px 15px;
  overflow-x: hidden;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

small {
  font-size: 12px;
  color: #777;
}

.chat-item.active, .chat-item.active:hover {
  background: #eaeaea;
}

.chat-item:hover {
  background: #f3f3f3;
}

.chat-item.new {
  padding: 22px 15px;
}

#new-chat input {
  width: 200px;
}

#not-seen-by-them {
  padding: 10px 15px;
  background-color: #9ee8ff;
}

#not-seen-by-them button {
  background: #fff;
}

#not-seen-by-them button:hover, #not-seen-by-them button:active, #not-seen-by-them button:focus {
  background: #eee;
}

#enable-notifications-prompt {
  background: #9ee8ff;
  padding: 22px 15px;
  cursor: pointer;
  overflow-y: hidden;
  display: none;
}

#enable-notifications-prompt .title {
  font-weight: bold;
  margin-bottom: 5px;
}

#enable-notifications-prompt a {
  text-decoration: none;
}

#enable-notifications-prompt:hover a, #enable-notifications-prompt:focus a {
  text-decoration: underline;
}
