<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>iris</title>

    <base href="./" />
    <meta name="description" content="Social Networking Freedom" data-react-helmet="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="iris" data-react-helmet="true" />
    <meta property="og:description" content="Social Networking Freedom" data-react-helmet="true" />
    <meta property="og:url" content="https://iris.to" data-react-helmet="true" />
    <meta
      property="og:image"
      content="https://iris.to/assets/img/cover.jpg"
      data-react-helmet="true"
    />

    <meta name="twitter:card" content="summary_large_image" data-react-helmet="true" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#74d5f1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2e3036" />
    <meta pname="msapplication-config" content="/browserconfig.xml" />
    <meta name="theme-color" content="#2e3036" />

    <!-- The main stylesheet -->
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
