<!DOCTYPE html>
<html lang="en">
  <head>
    <script> window.prerenderReady = false; </script>
    <meta charset="utf-8" />
    <title>Iris – The nostr client for better social networks</title>

    <meta name="fragment" content="!">
    <meta name="prerender-status-code" content="200">
    <meta name="description" content="Iris nostr client is the social networking app that is accessible and secure, giving you complete control over your data and profile." data-react-helmet="true" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta property="og:title" content="Iris – The nostr client for better social networks" data-react-helmet="true" />
    <meta property="og:description" content="Iris nostr client is the social networking app that is accessible and secure, giving you complete control over your data and profile." data-react-helmet="true" />
    <meta
      property="og:image"
      content="https://iris.to/assets/img/irisconnects.png"
      data-react-helmet="true"
    />

    <meta name="twitter:card" content="summary_large_image" data-react-helmet="true" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#74d5f1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta pname="msapplication-config" content="/browserconfig.xml" />
    <meta name="theme-color" content="#000000" />

    <!-- The main stylesheet -->
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
